node_modules
.next
out
dist
build
coverage
*.log
.DS_Store
.env
.env.local
.env.production
.env.development
.vercel
.turbo
.idea
.vscode
prisma/dev.db
public/uploads
tsconfig.tsbuildinfo
*.tsbuildinfo
